@import url(reset.css);
@import url(popup.css);
html {
    color: black;
    font-family: 'Verdana', sans-serif;
    font-size: 10px;
    /*background-color: #f7f6f5;*/
}
body {
    background-color: #bdbdbd;
}
button {
    font-size: 1.7rem;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    padding: 6px;
    /*margin-bottom: 20px;*/
    box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.28);
}
select {
    width: 290px;
    height: 44px;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 4px;
    font-size: 2rem;
}
button:disabled {
    color: #bdbdbd;
}
button:focus, select.focus {
    border: 2px solid rgb(145, 155, 158);
}
button:hover, select:hover {
    /*background-color: rgba(154, 154, 154, 0.82);*/
    border: 2px solid rgb(145, 155, 158);
    /*border: 2px solid rgb(92, 96, 97);*/
}
button:active, select.active {
    border: 2px solid transparent;
    box-shadow: 4px 6px 10px 2px rgba(0, 0, 0, 0.28);
    background-color: rgb(224, 224, 224);
}

header {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFA726;
    box-shadow: 0px 13px 43px 5px rgba(0, 0, 0, 0.11) inset;
}
h1 {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 3px 3px 5px rgba(76, 76, 76, 0.45);;
}
h2, h3 {
    width: 100%;
    text-align: center;
    background-color: #323232;
    color: white;
    font-size: 1.2rem;
    box-shadow: 0px 9px 17px -6px rgba(0, 0, 0, 0.32);
    padding: 8px;
}
h3 {
    padding: 8px 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 9px 57px 4px rgba(0, 0, 0, 0.17);
    padding: 20px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas__task1 {
    width: 900px;
    height: 400px;
    background-color: #cecac1;
}

.canvas__frame {
    /* width: 800px; */
    /* height: 400px; */
    /*background-color: #cecac1;*/
}
